nav[id=navbar_search] {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: silver;
    box-shadow: -2px -8px 8px lightgray, 2px -8px 8px lightgray;
}

.nav-link {
    font-size: 0.9rem !important;
    padding: 0.3rem;
    color: black;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #6c757d;
    border-radius: 0.5rem;
}

input[id=search] {
    width: 15rem;
    font-size: 0.9rem !important;
    padding: 0.3rem 0.5rem;
}

button[id=btn_search] {
    width: 2.3rem;
    font-size: 0.9rem !important;
    padding: 0.3rem;
}
